<style type="text/css">
	<!—- global.css -—>
  H1{font-family : sans-serif,Arial,Tahoma;color : black;background-color : white;}
  BODY{font-family : sans-serif,Arial,Tahoma;color : black;background-color : white;}
  HR{color : #259225;height : 18;}
</style> 